@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

body{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    background: rgb(255,115,0);
    background: linear-gradient(0deg, rgba(255,115,0,1) 17%, rgba(230,175,46,1) 100%);
    text-align: left;
    overflow: hidden;
}

body::before{
    content: '';
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100wh;
    background-image: url(https://images.unsplash.com/photo-1461958508236-9a742665a0d5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    mix-blend-mode: multiply;
    opacity: 0.3;
    object-fit: cover;
    z-index: -1;

}

form{
    display: inline-block;
    width: 80%;

}

label{
    color: hsl(0, 0%, 0%);
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
    justify-items: center;
    width: 80%;
    text-align: left;

}

input[type=text]{
    background-color: white;
    width: 80%;
    height: 10%;
    padding: 1.2rem 1.5rem;
    font-size: 1.5rem;
    border:none;
    display: block;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
    opacity: 0.8;
    position: relative;

    
}

input[type=text]:focus{
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    opacity: 1;

}

input[type=text]:focus::placeholder{
    color: hsl(0, 0%, 100%);
    opacity: 0.1;
}

::placeholder {
    color: rgb(121, 121, 121);
    opacity: 0.4;

}
input[type=submit]{
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    width: 44%;
    padding: 0.8rem;
    font-size: 1rem;
    display: block;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5;
    opacity: 0.8;
    position: absolute;
    bottom: 10%;
    left: 1%;
}

input[type=submit]:hover{
    color: hsl(0, 0%, 100%);

}


/*submit.php*/
h1{
    font-size: 2.7rem;
}

h2{
    font-size: 1.5rem;
}

section{
    display: block;
    width: 80%;
    text-align: left;
    font-size: 2.5em;
    line-height: 1.2em;

}

section b{
    text-transform: uppercase;
    color: white;
}